.container
  .row
    .column
      header.logo
nav.main-nav#main_nav
  ul
    li.active
      a(href="#home" data-scroll-nav="0") Home
    li
      a(href='#portfolio' data-scroll-nav="1") Portfolio
    li
      a(href='#team' data-scroll-nav="2") Team
    li
      a(href='#contact' data-scroll-nav="3") Contact
.hero-unit
  .container
    .slider.single-item
      .slide
        .row
          .one-half.column
            .hero-text
              div
                | Lorem ipsum dolor sit amet,
                br
                | adipisicing elit. Suspendisse volutpat
                br
                | velit eget ipsum.
          .one-half.column
            .hero-img
              img(src='./images/k_letter.svg')
      .slide
        .row
          .one-half.column
            .hero-text
              div
                | Lorem ipsum dolor sit amet,
                br
                | adipisicing elit. Suspendisse volutpat
                br
                | velit eget ipsum.
          .one-half.column
            .hero-img
              img(src='./images/k_letter.svg')
      .slide
        .row
          .one-half.column
            .hero-text
              div
                | Lorem ipsum dolor sit amet,
                br
                | adipisicing elit. Suspendisse volutpat
                br
                | velit eget ipsum.
          .one-half.column
            .hero-img
              img(src='./images/k_letter.svg')
      .slide
        .row
          .one-half.column
            .hero-text
              div
                | Lorem ipsum dolor sit amet,
                br
                | adipisicing elit. Suspendisse volutpat
                br
                | velit eget ipsum.
          .one-half.column
            .hero-img
              img(src='./images/k_letter.svg')
