.container
  .row
    .column
      header.logo(title="KOZA Creative Group")
.container
  .page-descr-wrapper
    .nice-to-meet It's nice to meet you!
    .site-description.
        KOZA is a group of ukrainian artists working together to create photo, video and social projects. Through the creation of our projects we want to motivate other people to bring their own ideas to life. Also KOZA shares different photography, videography and other tips that might be interesting for everyone!
nav.main-nav#main_nav
  ul
    li.active
      a(href="#home" data-scroll-nav="0") Home
    li
      a(href='#portfolio' data-scroll-nav="1") Portfolio
    li
      a(href='#team' data-scroll-nav="2") Team
    li
      a(href='#contact' data-scroll-nav="3") Contact

.main-slider
  .container
    .slider.single-item
      .slide
        .row
          .one-half.column
            .hero-text
              div.
                We are a group of artists working together
                to bring our best ideas to life.
          .one-half.column
            .hero-img
              img(src='./images/K_desaturated.svg')
      .slide
        .row
          .one-half.column.inverse-slide
            .hero-img
              img(src='./images/O_desaturated.svg')
          .one-half.column.inverse-slide
            .hero-text
              div.
                Our goal is to create uniquely beautiful
                high quality videos, photos, and social projects.
      .slide
        .row
          .one-half.column
            .hero-text
              div.
                Through the creation of our projects we want to popularize
                low-budget filmmaking and photography among ukrainians.

          .one-half.column
            .hero-img
              img(src='./images/Z_desaturated.svg')
      .slide
        .row
          .one-half.column.inverse-slide
            .hero-img
              img(src='./images/A_desaturated.svg')
          .one-half.column.inverse-slide
            .hero-text
              div.
                Our aim is to be recognized not only in Ukraine, 
                but all around the world.
