.container
  .row
    .column
      header.logo
nav.main-nav#main_nav
  ul
    li.active
      a(href='#home')  Home 
    li
      a(href='#portfolio')  Portfolio 
    li
      a(href='#team')  Team 
    li
      a(href='#contact')  Contact 
.hero-unit
  .container
    .slider.single-item
      .slide
        .row
          .one-half.column
            .hero-text
              div
                | Lorem ipsum dolor sit amet,
                br
                | adipisicing elit. Suspendisse volutpat
                br
                | velit eget ipsum.
          .one-half.column
            .hero-img
              img(src='./images/k_letter.svg')
      .slide
        .row
          .one-half.column
            .hero-text
              div
                | Lorem ipsum dolor sit amet,
                br
                | adipisicing elit. Suspendisse volutpat
                br
                | velit eget ipsum.
          .one-half.column
            .hero-img
              img(src='./images/k_letter.svg')
      .slide
        .row
          .one-half.column
            .hero-text
              div
                | Lorem ipsum dolor sit amet,
                br
                | adipisicing elit. Suspendisse volutpat
                br
                | velit eget ipsum.
          .one-half.column
            .hero-img
              img(src='./images/k_letter.svg')
      .slide
        .row
          .one-half.column
            .hero-text
              div
                | Lorem ipsum dolor sit amet,
                br
                | adipisicing elit. Suspendisse volutpat
                br
                | velit eget ipsum.
          .one-half.column
            .hero-img
              img(src='./images/k_letter.svg')
