.container
  .row
    .column
      header.logo
nav.main-nav#main_nav
  ul
    li.active
      a(href="#home" data-scroll-nav="0") Home
    li
      a(href='#portfolio' data-scroll-nav="1") Portfolio
    li
      a(href='#team' data-scroll-nav="2") Team
    li
      a(href='#contact' data-scroll-nav="3") Contact
.main-slider
  .container
    .slider.single-item
      .slide
        .row
          .one-half.column
            .hero-text
              div.
                We are a group of artists working together
                to bring our best ideas to life.
          .one-half.column
            .hero-img
              img(src='./images/K_desaturated.svg')
      .slide
        .row
          .one-half.column
            .hero-text
              div.
                Our goal is to create uniquely beautiful
                high quality videos, photos, and social projects.
          .one-half.column
            .hero-img
              img(src='./images/O_desaturated.svg')
      .slide
        .row
          .one-half.column
            .hero-text
              div.
                Through the creation of our projects we want to popularize
                low-budget filmmaking and photography among ukrainians.

          .one-half.column
            .hero-img
              img(src='./images/Z_desaturated.svg')
      .slide
        .row
          .one-half.column
            .hero-text
              div.
                Our aim is to be recognized not only in Ukraine, 
                but all around the world.
          .one-half.column
            .hero-img
              img(src='./images/A_desaturated.svg')
