// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
@import 'slick';


body {
  background: #e1e1e1;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #6c6968;
}

.logo {
  display: block;
  max-width: 400px;
  height: 200px;
  background: url(../images/koza_logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px auto 80px auto;
}

.hero-unit {
  margin: 0 auto 0 auto;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  background-color: #eee;
  padding: 5rem 0px 0px 0px;

  h1 {
    font-size: 6rem;
    line-height: 1;
    letter-spacing: -1px;
  }

  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, circle cover, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(225,225,225,1)));
  background: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 100%);
  background: -o-radial-gradient(center, circle cover, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 100%);
  background: -ms-radial-gradient(center, circle cover, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 100%);
  background: radial-gradient(circle at center, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=1 );
}

nav.main-nav {
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  color: #666666;
  margin: 0 auto;

  ul {
    display: table;
    width: 100%;
    margin: 0 auto;
  }
  li {
    list-style: none;
    display: table-cell;
    padding: 1rem;
  }

  li.active a {
    color: #111111;
  }

  li.active:before {
    content: '•';
    position: relative;
    top: -1.2rem;
    left: 0.5rem;
    color: #ef692a;
  }

  a {
    text-decoration: none;
    color: #666666;
    font-weight: lighter;
    font-family: inherit;
  }
}

.hero-text {
  vertical-align: middle;
  padding-bottom:5px;

  div {
    display: inline-block;
    line-height: 1.2;
  }
}

.hero-img {
  display: inline-block;

  img {
    height: 18rem;
    display: inline-block;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* styling slick slidre */
.slick-dots li button:before {
  font-size: 0.8rem;
}
.slick-dots li.slick-active button:before {
  color: #ea8858;
  font-size: 1.1rem;
}

.slick-list {
  margin-bottom: 5rem;
}

.slick-prev:before, .slick-next:before {
  color: #C0BCBB;
}

@media (min-width: 550px) {
  .hero-text {
    line-height: 18rem;
    float: right;
    text-align: right;
  }

  .hero-img {
    float: left;
  }

  nav.main-nav {
    width: 80%;
  }
}
