// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
@import 'mixins';

$font-stack: 'Source Sans Pro', sans-serif;
$background-color: rgba(225, 225, 225, 1);
$primary-color: #666;
$active-color: #333;
$contrast-color: #ef692a;

$hero-text-height: 18rem;

@import 'slick';

// injector
@import '../sections/projects/projects.scss';
@import '../sections/home/home.scss';
// endinjector

body {
  background: $background-color;
  font-family: $font-stack;
  color: $primary-color;
}

a {
  text-decoration: none;
  color: $primary-color;
  font-weight: lighter;
}

a:hover, a:active {
  color: $active-color;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
