// bower:scss
// endbower

//@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,400italic&subset=cyrillic,latin);
@import 'mixins';

$font-stack: 'Fira Sans', sans-serif;
$background-color: #e2e1e2;
$primary-color: #666;
$active-color: #333;
$contrast-color: #ef692a;

$slider-text-height: 18rem;

$section-header-radius: 10rem;

@import 'slick';

// injector
@import '../sections/home/home.scss';
@import '../sections/contact/contact.scss';
@import '../sections/projects/projects.scss';
@import '../sections/team/team.scss';
@import '../pages/projects/projects.scss';
// endinjector

html {
  font-size: 50%;
  height: 100%;

  @media (min-width: 550px) {
    font-size: 62.5%
  }
  @media (min-width: 2100px) {
    font-size: 70%
  }
}

body {
  background: $background-color;
  font-family: $font-stack;
  color: $primary-color;

  &.overpaged {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: $primary-color;
  font-weight: 300;
}

a:hover, a:active {
  color: $active-color;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


section {
  min-height: 100vh;
  position: relative;

  &:not(:first-child) {
    margin-top:5rem;
  }
}

.section-header {
  @include circle($section-header-radius, $contrast-color);
  //position: absolute;
  top: 0;
  z-index: 100;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}

ul {
  margin-bottom: 0px;
}

strong {
  font-weight: 500;
}

.container {
  max-width: 100%;
}

.moving-element {
  transition: all 0.3s linear;
}

.overpage {
  text-align: center;
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 100%;
  background-color: #fff;
  z-index: 1050;
  transition: left 0.3s linear;
  padding-top: 10rem;

  &.opened {
    display: block;
    left: 0;
  }
}
