@mixin radial-gradient($fromColor, $toColor) {
  background-color: $toColor;
  background: -moz-radial-gradient(center, circle cover, $fromColor 0%, $toColor 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $fromColor), color-stop(100%, $toColor));
  background: -webkit-radial-gradient(center, circle cover, $fromColor 0%, $toColor 100%);
  background: -o-radial-gradient(center, circle cover, $fromColor 0%, $toColor 100%);
  background: -ms-radial-gradient(center, circle cover, $fromColor 0%, $toColor 100%);
  background: radial-gradient(circle at center, $fromColor 0%, $toColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$fromColor', endColorstr='$toColor', GradientType=1 );
}

@mixin circle($radius, $bg-color) {
  position: relative;
  width: $radius*2;
  height: $radius*2;
  left: 50%;
  line-height: $radius*2;

  margin-bottom: -$radius;
  margin-left: -$radius;
  margin-bottom: -$radius;
  border-radius: $radius;

  background-color: $bg-color;
  text-align: center;
}
