.project-page
  a.navigate(href="/")
    .button-back
      svg(viewbox='0 0 36 100')
        line(x1='35.9', y1='0.5', x2='0.8', y2='54.1')
        line(x1='35.9', y1='99.5', x2='0.8', y2='54.1')
  h2
    strong PROJECT WE
  h6
    em Support for Crimea citizens
  iframe(width='640', height='360', src='//www.youtube.com/embed/ozJrak3a-7U', frameborder='0', allowfullscreen='')
  .container
    .row
      .video-description
        p With this project, we tried to express our solidarity with each corner of Ukraine. The idea of the project was caused by Russian aggression in Crimea. It took us 5 days to create this video, one of which - for discussion and finding suitable place and people, second - for shooting and three more days for editing.
        header
          strong FILMED &amp; EDITED
        p SERHIY KOZACHUK
        header
          strong IDEA
        p SERHIY KOZACHUK
          br
          | OLEKSIY KACHUNSKIY
        header
          strong WORDS
        p ANATOLIY MATVIJCHUK
        header
          strong SPECIAL THANKS TO
        p TARAS GOVDA
          br
          | SOFIIA KOROTKEVYCH
          br
          | YARYNA KOROTKEVYCH
          br
          | VIKTORIJA YASKIV
          br
          | OSTAP MORAVSKII
