.project-page
  a.navigate(href="/")
    .button-back
      svg(viewbox='0 0 36 100')
        line(x1='35.9', y1='0.5', x2='0.8', y2='54.1')
        line(x1='35.9', y1='99.5', x2='0.8', y2='54.1')
  h2
    strong MARTA
  h6
    em Video Portrait
  iframe(src='//player.vimeo.com/video/107567948?byline=0&portrait=0&color=ff9933', width='500', height='281', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
  .container
    .row
      .video-description
        p For the first time in my life shot video portrait. A small Martha Syrko’s story, who is wonderful person and equally wonderful photographer, a story about how dramatically photography changed her entire life. Hours of filming and weeks of editing, that's what we got as a result. Special thanks to Taras Govda and Sofiia Korotkevych. English subtitles included! Enjoy) 
        header
          strong FILMED &amp; EDITED
        p SERHIY KOZACHUK
        header
          strong STARRING
        p MARTA SYRKO
        header
          strong SPECIAL THANKS TO
        p TARAS GOVDA
          br
          | SOFIIA KOROTKEVYCH

        header
          strong MUSIC
        p Brambles "To Speak Of Solitude"
          br
          | Freak Owls "Paper People"
