$member-height: 20rem;

.one-half {
  width: 100%;
  float: left;


  @media (min-width: 550px) {
    width: 50%;
  }
}

.member {

  @include hover-fade();

  @media (min-width: 1600px) {
    $member-height: 25rem;
    height: $member-height;
  }

  cursor: pointer;
  height: $member-height;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  background-color: #959595;
  
  .name {
    font-size: 3rem;
    line-height: 0.8;
    font-weight: 300;
  }
  .surname {
    font-size: 3rem;
    line-height: 1;
    color: #ffffff;
  }

  &.member-kozachuk {
    background-image: url('../images/members/kozachuk.jpg')
  }

  &.member-korotkevych_s {
    background-image: url('../images/members/korotkevych_s.jpg')
  }

  &.member-korotkevych_y {
    background-image: url('../images/members/korotkevych_y.jpg')
  }

  &.member-govda {
    background-image: url('../images/members/govda.jpg')
  }

  &.member-antonova {
    background-image: url('../images/members/antonova.jpg')
  }

  &.member-gotsiy {
    background-image: url('../images/members/gotsiy.jpg')
  }

  &.member-lupul {
    background-image: url('../images/members/lupul.jpg')
  }
  
  &.member-next {
    .member-info {
      margin-left: 0 !important;
      width: 100% !important;
      text-align: center;
    }
  }
}

.cell-vertical {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.member-info {
  display: table;
  height: $member-height;
  text-align: right;

  @media (min-width: 550px) {
    text-align: center;
    padding-left: 0rem;
    margin-left: 0% !important;
    width: 100% !important;
  }

  @media (min-width: 720px) {
    padding-left: 0rem;
    text-align: left;
    margin-left: 30% !important;
    width: 70% !important;
  }

  @media (min-width: 1024px) {
    padding-left: 5rem;
    margin-left: 50% !important;
    width: 50% !important;
  }

  @media (min-width: 1600px) {
    $member-height: 25rem;
    height: $member-height;
  }
}
