$member-height: 20rem;

.one-half {
  width: 100%;
  float: left;


  @media (min-width: 550px) {
    width: 50%;
  }
}

.member {

  &:not(:hover):before {
    content: "";
    left: 0;
    z-index: 0;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: -$member-height;
    background-color: #282928;
    opacity: 0.55;
  }

  @media (min-width: 1600px) {
    $member-height: 25rem;
    height: $member-height;

    &:not(:hover):before {
      margin-bottom: -$member-height;
    }
  }

  cursor: pointer;
  height: $member-height;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;

  .name {
    margin-top: 5rem;
    font-size: 3rem;
    line-height: 0.8;
    font-weight: lighter;
  }
  .surname {
    font-size: 3rem;
    line-height: 1;
    color: #ffffff;
  }

  &.member-kozachuk {
    background-image: url('../images/members/kozachuk.jpg')
  }

  &.member-korotkevych_s {
    background-image: url('../images/members/korotkevych_s.jpg')
  }

  &.member-korotkevych_y {
    background-image: url('../images/members/korotkevych_y.jpg')
  }

  &.member-govda {
    background-image: url('../images/members/govda.jpg')
  }

  &.member-antonova {
    background-image: url('../images/members/antonova.jpg')
  }

  &.member-gotsiy {
    background-image: url('../images/members/gotsiy.jpg')
  }
}

.member-info {
  text-align: right;

  @media (min-width: 550px) {
    text-align: center;
    padding-left: 0rem;
    margin-left: 0% !important;
    width: 100% !important;
  }

  @media (min-width: 720px) {
    padding-left: 0rem;
    text-align: left;
    margin-left: 30% !important;
    width: 70% !important;
  }

  @media (min-width: 1024px) {
    padding-left: 5rem;
    margin-left: 50% !important;
    width: 50% !important;
  }
}
