div.section-header
  |our
  strong team
.container.u-full-width.u-max-full-width
    .one-half
      a(href="https://www.facebook.com/serhiykozachuk" target="_blank")
        .member.member-kozachuk
          .container
            .row
              .column.one-half.member-info.moving-element
                .cell-vertical
                  .name Serhiy
                  .surname
                    strong Kozachuk
                  .role founder, filmmaker, photographer, designer
    .one-half
      a(href="https://www.facebook.com/profile.php?id=100005470094850" target="_blank")
        .member.member-korotkevych_s
          .container
            .row
              .column.one-half.member-info.moving-element
                .cell-vertical
                  .name Sofia
                  .surname
                    strong Korotkevych
                  .role painter, designer
    .one-half
      a(href="https://www.facebook.com/yaryna.kor" target="_blank")
        .member.member-korotkevych_y
          .container
            .row
              .column.one-half.member-info.moving-element
                .cell-vertical
                  .name Yaryna
                  .surname
                    strong Korotkevych
                  .role painter, designer
    .one-half
      a(href="https://www.facebook.com/taras.howda" target="_blank")
        .member.member-govda
          .container
            .row
              .column.one-half.member-info.moving-element
                .cell-vertical
                  .name Taras
                  .surname
                    strong Govda
                  .role musician, developer
    .one-half
      a(href="https://www.facebook.com/roman.gotsiy" target="_blank")
        .member.member-gotsiy
          .container
            .row
              .column.one-half.member-info.moving-element
                .cell-vertical
                  .name Roman
                  .surname
                    strong Gotsiy
                  .role web-developer, musician
    .one-half
      a(href="https://www.facebook.com/sofiia.lupul" target="_blank")
        .member.member-lupul
          .container
            .row
              .column.one-half.member-info.moving-element
                .cell-vertical
                  .name Sofiia
                  .surname
                    strong Lupul
                  .role photographer, painter, filmmaker
