div.section-header
  |our
  strong projects
article.column.project.project-text-left.project-marta
  .container
    .row
      .column
        .project-name.moving-element
          strong Martha
        .row
          .column
            .project-description.
              A Martha Syrko's story, who is wonderful person
              and equally wonderful photographer, a story about how
              dramatically photography changed her entire life.
article.column.project.project-text-right.project-we
  .container
    .row
      .column
        .project-name.moving-element
          strong Project
          |  WE
        .row
          .column
            .project-description.
              With this project we tried to express our solidarity
              with each corner of Ukraine. It does not matter who lives in what area
              or what language  you're talking with, because all of us are Ukrainians!
article.column.project.project-text-center.project-olja
  .container
    div.project-inprogress
      |in
      strong progress

    .row
      .column
        .project-name.moving-element
          strong Project
          |  Olja
        .row
          .column
            .project-description.
              Another videoportrait project in which
              we are trying to combine different types of videography thicks
              to create one solid artwork
            .release-date Estimated release date: 10th March
