$project-inprogress-radius: 6rem;

.project {
  display: block;
  min-height: 40rem;
  color: #fff;
  position: relative;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &:before {
    content: "";
    left: 0;
    z-index: 0;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #282928;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  &:not(:hover):before {
    opacity: 0.55;
  }

  &.project-text-left {
    text-align: left;
  }

  &.project-text-right {
    text-align: right;
  }

  &.project-text-center {
    text-align: center;
  }
}

.project-we {
  @extend .project;

  background-image: url('../images/project_we_bg.jpg');
}

.project-marta {
  @extend .project;

  background-image: url('../images/project_marta_bg.jpg');
}

.project-olja {
  @extend .project;

  background-image: url('../images/project_olja_bg.jpg');
}

.project-inprogress {
  @include circle($project-inprogress-radius, $contrast-color);
  top: 5rem;

  color: #fff;
  font-size: 2rem;
  font-weight: 200;
}

.project-name {
  font-size: 4.5rem;
  margin-top: $section-header-radius;
  font-weight: 200;
}

.project-description {
  display: inline-block;
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: 200;
  width: 50%;

  @media (max-width: 720px) {
    width: 100%;
  }
}

.release-date {
  @extend .project-description;
  font-weight: normal;
  font-style: italic;
}
