div.section-header
  |our
  strong projects
a(href="#/projects/marta")
  article.column.project.project-text-left.project-marta
    .container
      .row
        .column
          .project-name.moving-element
            strong Martha
          .row
            .column
              .project-description.
                A Martha Syrko's story, who is wonderful person
                and equally wonderful photographer, a story about how
                dramatically photography changed her entire life.
a(href="#/projects/we")
  article.column.project.project-text-right.project-we
    .container
      .row
        .column
          .project-name.moving-element
            strong Project
            |  WE
          .row
            .column
              .project-description.
                With this project, we tried to express our solidarity with each corner of Ukraine. The idea of the project was caused by Russian aggression in Crimea.
a(href="#/projects/olja")
  article.column.project.project-text-center.project-olja
    .container
      .row
        .column
          .project-name.moving-element
            strong Project
            |  Olja
          .row
            .column
              .project-description.
                Our new video project is finally out! Olga and her lifetime choice to do something she is truly in love with. What would be your choice?
