doctype
html
  head
    meta(charset='utf-8')
    meta(name='description', property='og:description', content='KOZA - group of beautiful Ukraine artists working together to create photo and video projects. Photography, videography tips and ideas.')
    meta(itemprop="image", content="http://www.koza-team.com/images/profile.png")
    meta(property="og:image", content="http://www.koza-team.com/images/profile.png")
    meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
    include favicons.jade
    title KOZA Creative Group - Photography, videography projects
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='../bower_components/normalize.css/normalize.css')
    link(rel='stylesheet', href='../bower_components/Skeleton/css/skeleton.css')
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    link(rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css")

  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    div(itemscope, itemtype="http://schema.org/Organization")
      span(itemprop='name', style='display:none') KOZA Creative Group
      span(itemprop='description', style='display:none')
        | Group of artists working together to bring their best ideas to life. Their goal is to create uniquely beautiful high quality videos, photos, and social projects. Through the creation of their projects they want to popularize low-budget filmmaking and photography among ukrainians
      img(itemprop='image', style='display:none', src='http://www.koza-team.com/images/profile.png', alt="Koza Team logo")

      section.hero(data-scroll-index="0")
        include sections/home/home.jade
      section.portfolio(data-scroll-index="1")
        include sections/projects/projects.jade
      section.team(data-scroll-index="2")
        include sections/team/team.jade
      section.contact(data-scroll-index="3")
        include sections/contact/contact.jade
    div.overpage(for="marta")
      include pages/projects/marta/marta.jade
    div.overpage(for="we")
      include pages/projects/we/we.jade
    div.overpage(for="olja")
      include pages/projects/olja/olja.jade
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58443836-1', 'auto');

    // build:js scripts/vendor.js
    // bower:js
    script(src="../bower_components/jquery/dist/jquery.js")
    script(src="../bower_components/slick.js/slick/slick.min.js")
    script(src="../bower_components/jquery-sticky/jquery.sticky.js")
    script(src="../bower_components/ScrollIt/scrollIt.js")
    script(src="../bower_components/aviator/aviator.js")
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src="scripts/main.js")
    script(type="text/javascript" src="scripts/share42.js")
    // endbuild
