.project-page
  a.navigate(href="/")
    .button-back
      svg(viewbox='0 0 36 100')
        line(x1='35.9', y1='0.5', x2='0.8', y2='54.1')
        line(x1='35.9', y1='99.5', x2='0.8', y2='54.1')
  h2
    strong BREAD
  div.video-wrapper
    iframe(width='640', height='360', src='//www.youtube.com/embed/JtC816_njyQ', frameborder='0', allowfullscreen)
  .container
    .row
      .video-description
        p Hey! Check out our new yummy video with Dmytro Smolsky!
          br
          | Hope this will inspire you to cook something tasty by youself
        header
          strong TEAM WORKING ON A PROJECT
        p SERHIY KOZACHUK
          br
          | TARAS GOVDA
          br
          | SOFIIA KOROTKEVYCH
          br
          | YARYNA KOROTKEVYCH
          br
          | ANIKA ANTONOVA
          br
          | SOFIIA LUPUL
          br
          | ROMAN GOTSIY
        header
          strong HANDS
        p DMYTRO SMOLSKY
        header
          strong MUSIC
        p The Black Keys - Tighten Up
