div.section-header
  |contact
  strong us
a(href="https://www.facebook.com/kozacreativegroup")
  article.contact-fb
    .container
      .row
        .column.moving-element
          .follow-us
            strong Subscribe to our Facebook page.
            br
            | Updated projects information and useful tips and tricks for everyone!
.contact-us
  .container
    .row
      .column
        .email-header Feel free to contact us at
        .email info@koza-team.com
    .row
      .column
        .share42init(data-title='KOZA Creative Group', data-short-description='Group of artists working together to bring their best ideas to life! #koza #creative #group', data-url='http://koza-team.com', data-image='http://www.koza-team.com/images/profile.png', data-icons-file='/images/icons.png', data-path='..')

.footer
  | Copyright &copy; All rights reserved 2015. Sponsored by
  | 
  a(href='https://www.appsfoundation.com/about') Apps Foundation
