div.section-header
  |contact
  strong us
a(href="https://www.facebook.com/kozacreativegroup")
  article.contact-fb
    .container
      .row
        .column.moving-element
          .follow-us Follow us on
            br
            strong Facebook
.contact-us
  .container
    .row
      .column
        .email-header Feel free to contact us at
        .email info@koza-team.com
.footer
  | Copyright &copy; All rights reserved 2015
