$contact-fb-height: 25rem;

.contact-fb {
  background-image: url('../images/follow_facebook.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: right;

  height: $contact-fb-height;
  cursor: pointer;

  @include hover-fade();

  &:hover {
    .moving-element {
      padding-top: 0.5rem;
    }
  }
}

.follow-us {
  color: #ffffff;
  margin-top: $section-header-radius;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 300;

  strong {
    font-size: 3.2rem;
  }
}

.contact-us {
  margin: 10rem 0;
  text-align: center;
  color: $active-color;

  @media (min-width: 550px) {
    margin: 15rem 0;
  }
}

.email-header {
  font-size: 2.5rem;
  line-height: 1;
}

.email {
  font-size: 1.8rem;
  font-weight: 300;
}

.footer {
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
  margin-bottom: 1.4rem;
  bottom: 0px;
  position: absolute;
}
