.project-page
  a.navigate(href="/")
    .button-back
      svg(viewbox='0 0 36 100')
        line(x1='35.9', y1='0.5', x2='0.8', y2='54.1')
        line(x1='35.9', y1='99.5', x2='0.8', y2='54.1')
  h2
    strong PROJECT OLJA
  h6
    em Video Portrait
  .container
    .row
      .video-description
        | Another videoportrait project where we are combining different videography tricks to create one beautiful artwork! Currently in a stage of shooting. Subscribe to our 
        a(href="https://www.facebook.com/kozacreativegroup") facebook page
        |  to be updated!
        header(style="margin-top: 2rem")
          strong TEAM WORKING ON A PROJECT
        p SERHIY KOZACHUK
          br
          | TARAS GOVDA
          br
          | SOFIIA KOROTKEVYCH
          br
          | YARYNA KOROTKEVYCH
          br
          | ANIKA ANTONOVA
          br
          | MYKOLA SHYRIN
          br
          | SOFIIA LUPUL
          br
          | ROMAN GOTSIY
      .release-date Estimated release date: March 2015
