.project-page
  a.navigate(href="/")
    .button-back
      svg(viewbox='0 0 36 100')
        line(x1='35.9', y1='0.5', x2='0.8', y2='54.1')
        line(x1='35.9', y1='99.5', x2='0.8', y2='54.1')
  h2
    strong PROJECT OLJA
  h6
    em Video Portrait
  .container
    .row
      .video-description.
          Another videoportrait project in which
          we are trying to combine different types of videography thicks
          to create one solid artwork
      .release-date Estimated release date: 10th March
