.project-page
  a.navigate(href="/")
    .button-back
      svg(viewbox='0 0 36 100')
        line(x1='35.9', y1='0.5', x2='0.8', y2='54.1')
        line(x1='35.9', y1='99.5', x2='0.8', y2='54.1')
  h2
    strong PROJECT OLJA
  h6
    em Video Portrait
  div.video-wrapper
    iframe(width='640', height='360', src='//www.youtube.com/embed/E-pVoOT5vsM?rel=0', frameborder='0', allowfullscreen='')
  .container
    .row
      .video-description
        p Our new video project is finally out! Olga and her lifetime choice to do something she is truly in love with. What would be your choice?
        header
          strong TEAM WORKING ON A PROJECT
        p SERHIY KOZACHUK
          br
          | TARAS GOVDA
          br
          | SOFIIA KOROTKEVYCH
          br
          | YARYNA KOROTKEVYCH
          br
          | ANIKA ANTONOVA
          br
          | SOFIIA LUPUL
          br
          | ROMAN GOTSIY
